body {
  background-image : url('../img/background.jpg');
  font-family : 'calibri';
  color : white;

}

.main-container {
  margin : 150px auto;
  width : 600px;

}

.main-container h4 {
  font-size : 22px;
  margin-bottom : 20px;
  text-align : center;
  color : black;
}

table {
  background-color : #24303c;
  text-align : center;
  border-collapse : collapse;
  width : 100%;
  border : 1px solid #1f53c5;
}

th, td {
  padding: 10px;

}

thead {
  background-color : #24303c;
  border-bottom : solid 5px black;
  color : white;
}

tr:hover td {
  background-color: #1f53c5;
  color : white;

}
