<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cards </title>
    <link rel="stylesheet" href="../static/css/cards.css">
</head>
<body>
<h1 class="title"> Card with Efect </h1>
<div class="container">
    <div class="card">
        <h4>Engineer</h4>
        <p>Cheto todo vamos a ver que sale</p>
        <a href="#">Leer más</a>
    </div>

    <div class="card">
        <h4>Engineer</h4>
        <p>Cheto todo vamos a ver que sale</p>
        <a href="#">Leer más</a>
    </div>

    <div class="card">
        <h4>Engineer</h4>
        <p>Cheto todo vamos a ver que sale</p>
        <a href="#">Leer más</a>
    </div>
</div>
</div>
</body>
</html>