<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table Company Jobs</title>
    <link rel="stylesheet" href="../static/css/tables.css">
</head>
<body>
<div class="main-container">
    <div class="row">
        <div class="col-md-12">
            <table>

                <thead>
                <h4> Your Company Jobs </h4>
                <tr>
                    <th>Title</th>
                    <th>Salary</th>
                    <th>Type</th>
                    <th>Available-Slots</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tr>
                    <td>Technology</td>
                    <td>50K</td>
                    <td>Frontend-Junior</td>
                    <td>5</td>
                    <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                    <td><a href="#" class="btn btn-primary">View Apps</a></td>
                    <td><a href="#" class="btn btn-success">Edit</a></td>
                    <td><a href="#" class="btn btn-danger">Delete</a></td>
                </tr>
                <tr>
                    <td>Technology</td>
                    <td>95K</td>
                    <td>Backend-Junior</td>
                    <td>15</td>
                    <td>It is a long established fact that a reader will be distracted.</td>
                    <td><a href="#" class="btn btn-primary">View Apps</a></td>
                    <td><a href="#" class="btn btn-success">Edit</a></td>
                    <td><a href="#" class="btn btn-danger">Delete</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>