<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="header.html::head"></div>

<body>
<div th:replace="header.html::header"></div>

<div class="main-container">
    <div class="row">
        <div class="col-md-12" style="text-align: center">
            <table class="table table-dark table-striped">
                <thead>
                <h4> Your Company Jobs </h4>
                <tr>
                    <th>Title</th>
                    <th>Salary</th>
                    <th>Type</th>
                    <th>Available-Slots</th>
                </tr>
                </thead>
                <tbody>
                <tr style="color: white" th:each="job: ${jobs}">
                    <td th:text="${job.job_title}">Technology</td>
                    <td th:text="${job.salary}">50K</td>
                    <td th:text="${job.job_type}">Frontend-Junior</td>
                    <td th:text="${job.available_slots}">5</td>
                    <td><a th:href="@{/application/c/job/{id}(id=${job.job_id})}" class="btn btn-primary">View Apps</a>
                    </td>
                    <td><a th:href="@{/job/c/edit/{id}(id=${job.job_id})}" class="btn btn-success">Edit</a></td>
                    <td><a href="#" class="btn btn-danger">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>