<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Applications</title>
    <link rel="stylesheet" href="../static/css/tables.css">
</head>
<body>
<div class="main-container">
    <div class="row">
        <div class="col-md-12">
            <table>
                <thead>
                <h4> Your Applications </h4>
                <tr>
                    <th>Job Name</th>
                    <th>Company Name</th>
                    <th>Seniority</th>
                </tr>
                </thead>
                <tr>
                    <td>Python Engineer</td>
                    <td>Bugisoft</td>
                    <td>Junior</td>
                    <td><a href="#" class="btn btn-primary">View Application</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>