<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="header.html::head"></div>
<body>
<div th:replace="header.html::header"></div>

<div class="main-container">


    <div class="row">
        <div class="col-md-12">
            <h1 th:text="'Applications of ' + ${name}" style="text-align: center"></h1>

            <table style="color: white">
                <thead>
                <tr>
                    <th>Job Name</th>
                    <th>Company Name</th>
                    <th>Seniority</th>
                </tr>
                </thead>

                <tr th:each="app : ${applications}">
                    <td th:text="${app.job.job_title}">Python Engineer</td>
                    <td th:text="${app.job.company.name}">Bugisoft</td>
                    <td th:text="${app.seniority}">Junior</td>
                    <td><a href="#" class="btn btn-primary">View Application</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>