<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Interviews</title>
    <link rel="stylesheet" href="../static/css/tables.css">
</head>
<body>
<div class="main-container">
    <div class="row">
        <div class="col-md-12">
            <table>
                <thead>
                <h4> Your Interviews </h4>
                <tr>
                    <th>Date Interview</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tr>
                    <td>03/05/20</td>
                    <td>kjvfgfdjv</td>
                    <td><a href="#" class="btn btn-primary">View Interview</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>