<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="header.html::head"></div>
<body th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}">
<div th:replace="header.html::header" ></div>
<h1 th:text="|${httpStatus} - ${httpStatus.reasonPhrase}|">404</h1>

<!--/*@thymesVar id="errorMessage" type="java.lang.Object"*/-->
<p th:utext="${errorMessage}">Error java.lang.NullPointerException</p>
<a href="index.html" th:href="@{/}">Back to Home Page</a>
</body>
</html>