<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="header.html::head"></div>

<body>
<div th:replace="header.html::header"></div>
<!--<h1 class="title"> JobStation </h1>-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" style="margin-top: 20px">
            <h1 style="color: black; text-align: center">Job Station
                <img th:src="@{/img/network.png}" style="height: 80px; width: 80px">
            </h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="margin-top: 20px; margin-bottom: 20px">
            <form class="form-inline" th:action="@{/filter}" method="get">
                <input class="form-control" name="q" type="text" placeholder="Job title or keyword" aria-label="Search">
                <button class="btn btn-primary" type="submit" style="margin-left: 10px">Search</button>
            </form>

        </div>
    </div>
    <div class="row">
        <div th:each="job : ${jobs}">
            <div class="col-md-3">
                <div class="card bg-primary text-white" style="width: 18rem; height: 386px">
                    <div class="card-body">
                        <h5 class="card-title text-center" th:text="${job.jobTitle}" style="color: white; font-weight: bold">
                            Title
                        </h5>
                        <hr>
                        <p class="card-text" th:text="'Description: ' + ${job.description}" style="color: white">
                            Description</p>
                    </div>
                    <ul class="list-group list-group-flush" style="color: black; font-weight: bold">
                        <li class="list-group-item" th:text="'Company: ' + ${job.company.name}">Company
                            name
                        </li>
                        <li class="list-group-item" th:text="'Job Type: ' + ${job.job_type}">Job Type</li>
                        <li class="list-group-item" th:text="'Slots: ' + ${job.available_slots}">Slot</li>
                    </ul>
                    <div class="card-body" style="text-align: center">
                        <a th:href="@{/job/{id}(id=${job.job_id})}" class="btn btn-dark">See More</a>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>
<br><br><br>
<!--<footer th:replace="footer.html::foot"></footer>-->
</body>
</html>