<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Particular Application</title>
    <link rel="stylesheet" href="../static/css/application-card.css">
</head>
<body>
<h1 class="title">Particular Application</h1>
<div class="container">
    <div class="row">
        <div class="card">
            <h4>Developer Information</h4>
            <p>Full Name: William Wallace</p>
            <p>E-Mail: Dev@gmail.com</p>
            <p>Address: Chubut 330</p>
            <p>Phone Number: 123658447</p>
            <p>Seniority: Senior</p>
            <p>Years of Experience: 15</p>
            <p>English Speak: Yes</p>
            <p>Biography: Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <a href="#">Leer más</a>
        </div>
        <a href="#" class="btn btn-success">Accept</a>
        <a href="#" class="btn btn-danger">Decline</a>

    </div>
</div>
</body>
</html>