<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="header.html::head"></div>
<body>
<div th:replace="header.html::header" ></div>
<div class="card  bg-primary" style="width: 30rem; height: 40rem;">
    <div class="card-body" style="font-family: 'DejaVu Sans Mono', monospace;" >
        <h1 class="card-title text-center" style="margin-top: 70px;" >Job Title</h1>
    </div>
    <ul class="list-group list-group-flush  text-center" style="font-family: 'DejaVu Sans Mono', monospace;">
        <li class="list-group-item  text-center">Job type</li>
        <li class="list-group-item  text-center">Available slot</li>
        <li class="list-group-item  text-center">Salary</li>
        <li class="list-group-item  text-center">Description</li>
    </ul>
    <div class="card-body">
        <button class="btn btn-warning"type="submit" style="margin-left: 170px; margin-top: 10px;">Apply</button>
    </div>
</div>
</body>
</html>