<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Job Title</h5>
        <p class="card-text">Description</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Job type</li>
        <li class="list-group-item">Available slot</li>
        <li class="list-group-item">Salary</li>
    </ul>
    <div class="card-body">
        <a href="#" class="card-link">Apply</a>
    </div>
</div>
</body>
</html>