<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Particular Application</title>
    <link rel="stylesheet" href="../static/css/application-card.css">
</head>
<body>
<h1 class="title">Particular Application</h1>
<div class="container">
    <div class="row">
        <div class="card" th:object="${app}">
            <h4>Developer Information</h4>
            <p th:text="'Full Name: '+'app.developer.name'"></p>
            <p th:text="'E-mail: '+'app.developer.email'"></p>
            <p th:text="'Address: '+'app.developer.address'"></p>
            <p th:text="'Phone Number: '+'app.developer.phone_number'"></p>
            <p th:text="'Seniority: '+'app.developer.seniority'"></p>
            <p th:text="'Years of Experience: '+'app.years_xp'"></p>
            <p th:text="'Speak English: '+'app.speaks_english'"></p>
            <p th:text="'Biography: '+'app.developer.biography'"></p>
            <a href="#">See more</a>
        </div>
        <a href="#" class="btn btn-success">Accept</a>
        <a href="#" class="btn btn-danger">Decline</a>

    </div>
</div>
</body>
</html>