<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form Register Company</title>
    <link rel="stylesheet" href="../static/css/style-developer.css">
</head>
<body>
<section class="form-register">
    <h4> Form Register Company</h4>
    <input class="controls" type="text" name="name" id="name" placeholder="Into your Company Name">
    <input class="controls" type="text" name="location" id="location" placeholder="Into your Company Location ">
    <input class="controls" type="email" name="email" id="email" placeholder="Into your Company Email">
    <input class="botons" type="submit" value="Register Company">
</section>
</body>
</html>
