<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form Job Registry</title>
    <link rel="stylesheet" href="../static/css/style-developer.css">
</head>
<body>
<section class="form-register">
    <h4> Form Job Register </h4>
    <input class="controls" type="text" name="job-title" id="job-title" placeholder="Into Job Title">
    <input class="controls" type="text" name="job-salary" id="job-salary" placeholder="Into Job Salary">
    <input class="controls" type="text" name="job-type" id="job-type" placeholder="Into Job Type">
    <input class="controls" type="number" name="available-slot" id="available-slot" placeholder="Into Available Slot">
    <input class="botons" type="submit" value="Create Job">
</section>
</body>
</html>