<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form Register Developer</title>
    <link rel="stylesheet" href="../static/css/style-developer.css">
</head>
<body>
<div class="form-register">
    <div class="row">
        <div class="col-md-10">
            <h4> Form Register Developer</h4>
            <label>Into your E-Mail</label><input class="controls" type="email" name="email" id="email">
            <label>Into your username</label><input class="controls" type="text" name="username" id="username">
            <label>Password</label><input class="controls" type="password" name="password" id="password">
        </div>
        <div class="col-md-2">
            <label>Into your Birth</label><input class="controls" type="date" name="birth" id="birth">
            <label>Into your Address</label><input class="controls" type="text" name="address" id="address">
            <label>Into your Phone Number</label><input class="controls" type="text" name="phoneNumber"
                                                        id="phoneNumber">
            <label>Into your Byography</label><input class="controls" type="text" name = "byography" id="biography">
            <input class="botons" type="submit" value="Register Developer">
        </div>
    </div>
</div>
</body>
</html>