<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form User Registry</title>
    <link rel="stylesheet" href="../static/css/style-developer.css">
</head>
<body>
<div class="row">
    <div class="col-md-12">
        <div class="form-register">
            <h4> Form User Register </h4>
            <label>Into your Birth</label><input class="controls" type="localDate" name="birth" id="birth">
            <label>Into your Address</label><input class="controls" type="text" name="address" id="address">
            <label>Into your PhoneNumber</label><input class="controls" type="text" name="phoneNumber" id="phoneNumber">
            <label></label><input class="botons" type="submit" value="Register">
        </div>
    </div>
</div>
</body>
</html>
