<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Company Jobs</title>
    <link rel="stylesheet" href="../static/css/style-developer.css">
</head>
<body>
<div class="row">
    <div class="col-md-12">
        <div class="form-register">
            <h4> Form Job Register </h4>
            <label>Into Job Title</label><input class="controls" type="text" name="job-title" id="job-title" >
            <label>Into Job Salary</label><input class="controls" type="text" name="job-salary" id="job-salary" >
            <label>Into Job Type</label><input class="controls" type="text" name="job-type" id="job-type" >
            <label>Into Available Slot</label><input class="controls" type="number" name="available-slot" id="available-slot">
            <label>Into Job Description</label><textarea class="controls"></textarea>
            <input class="botons" type="submit" value="Create Job">
        </div>
    </div>
</div>
</body>
</html>