<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="header.html::head"></div>
<body>
<div th:replace="header.html::header" ></div>
<div class="row">
    <div class="col-md-12">
        <form method="post" th:action="@{/comp/register}" th:object="${company}">
            <div class="form-register">
                <h4> Form Register Company</h4>
                <label>Company Name</label><input th:field="*{name}" class="controls" type="text" name="name" id="name">
                <label>Company Location</label><input th:field="*{location}" class="controls" type="text" name="location" id="location">
                <label>Company E-Mail</label><input th:field="*{email}" class="controls" type="email" name="email" id="email">
                <label>Password</label><input th:field="*{password}" class="controls" type="password" name="password" id="password">
                <button class="botons" type="submit" value="Register Company">Register</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
