<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:inputth="http://www.w3.org/1999/html">
<div th:replace="header.html::head"></div>
<body>
<div th:replace="header.html::header" ></div>

<div th:replace="register-company::flash"></div>

<div class="form-register">
    <div class="row">
        <div class="col-md-12">

            <form method="post" th:action="@{/dev/register}" th:object="${developer}">
            <h4> Form Register Developer</h4>
            <label>E-Mail</label><input th:field="*{email}"class="controls" type="email" name="email" id="email" required>
            <label>Full Name</label><input th:field="*{name}"class="controls" type="text" name="fullname" id="fullname" required>
            <label>Password</label><input th:field="*{password}"class="controls" type="password" name="password" id="password" required>
            <label>Date of Birth</label><input pattern="yyyy-MM-dd" th:field="*{dob}"class="controls" type="date" name="birth" id="birth" required>
            <label>Address</label><input th:field="*{address}" class="controls" type="text" name="address" id="address" required>
            <label>Phone Number</label><input th:field="*{phone_number}" class="controls" type="text" name="phoneNumber" id="phoneNumber" required>
            <label>Biography</label><textarea th:field="*{biography}" class="controls" required></textarea>
            <input class="botons" type="submit" value="Register Developer">
            </form>
        </div>
    </div>
</div>
</body>
</html>