<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form Application Registry</title>
    <link rel="stylesheet" href="../static/css/style-developer.css">
</head>
<body>
<div class="row">
    <div class="col-md-12">
        <div class="form-register">
            <h4> Form Application Register </h4>
            <label>Into your Seniority</label><input class="controls" type="text" name="seniority" id="seniority">
            <label>Into years Experience</label><input class="controls" type="text" name="year-experience"
                                                       id="year-experience">
            <p>Do you speak English?</p>
            <input type="radio" name="boton"> Yes
            <input type="radio" name="boton"> No<br>
            <input class="botons" type="submit" value="Apply to Work">
        </div>
    </div>
</div>
</body>
</html>