<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form Register Company</title>
    <link rel="stylesheet" href="../static/css/style-developer.css">
</head>
<body>
<div class="row">
    <div class="col-md-12">
        <div class="form-register">
            <h4> Form Register Company</h4>
            <label>Into your Company Name</label><input class="controls" type="text" name="name" id="name">
            <label>Into your Company Location</label><input class="controls" type="text" name="location" id="location">
            <label>Into your Company E-Mail</label><input class="controls" type="email" name="email" id="email">
            <label>Into your Password</label><input class="controls" type="password" name="password" id="password">
            <input class="botons" type="submit" value="Register Company">
        </div>
    </div>
</div>
</body>
</html>
