<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form Application Registry</title>
    <link rel="stylesheet" href="../static/css/style-developer.css">
</head>
<body>
<section class="form-register">
    <h4> Form Application Register </h4>
    <input class="controls" type="text" name="seniority" id="seniority" placeholder="Into your Seniority">
    <input class="controls" type="text" name="year-experience" id="year-experience" placeholder="Into Years Experience">
    <p>Do you speak English?</p>
    <input type="radio" name="boton"> Yes
    <input type="radio" name="boton"> No<br>
    <input class="botons" type="submit" value="Apply to Work">
</section>
</body>
</html>