<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form User Registry</title>
    <link rel="stylesheet" href="../static/css/style-developer.css">
</head>
<body>
<section class="form-register">
    <h4> Form User Register </h4>
    <input class="controls" type="localDate" name="birth" id="birth" placeholder="Into your Birth">
    <input class="controls" type="text" name="address" id="address" placeholder="Into your Address">
    <input class="controls" type="text" name="phoneNumber" id="phoneNumber" placeholder="Into your PhoneNumber">
    <input class="botons" type="submit" value="Register">
</section>
</body>
</html>
