<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="header.html::head"></div>
<body>
<div th:replace="header.html::header" ></div>
<div class="main-container">
    <div class="row">
        <div class="col-md-12">

            <table>

                <thead>
                <h4 th:text="'Applications of: ' + ${company.name}"> Applications </h4>
                <tr>
                    <th>E-Mail</th>
                    <th>Dev. name</th>
                    <th>Seniority</th>
                    <th>Years of experience</th>
                    <th>Speaks english</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="app : ${applications}" style="color: white">
                    <td th:text="${app.developer.email}">nacho@gmail.com</td>
                    <td th:text="${app.developer.name}">Ignacio Fernandez</td>
                    <td th:text="${app.seniority.toString()}">30 years</td>
                    <td th:text="${app.years_xp}">10</td>
                    <td th:text="${app.speaks_english} ? 'YES': 'NO'">YES</td>
                    <td><a th:href="@{/application/{id}(id=${app.application_id})}" class="btn btn-primary">View App</a></td>
                </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>
</body>
</html>
