<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="header.html::head"></div>
<body>
<div th:replace="header.html::header" ></div>
<div class="container-fluid">
    <div th:replace="developer-applications::flash-success"></div>
    <div class="row">
        <div class="col-md-12" th:object="${interviews}">

            <table>

                <thead>
                <h1 style="text-align: center; color: black"> My company Interviews </h1>
                <tr>
                    <th>Developer</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Application</th>
                </tr>
                </thead>
                <tr th:each="interview : ${interviews}">
                    <td th:text="${interview.developer.name}">Mercado Libre</td>
                    <td th:text="${interview.date}">26-04-22</td>
                    <td th:text="${interview.time}">12:00</td>
                    <td><a th:href="@{/application/{id}(id=${interview.application.application_id})}" class="btn btn-primary">View Application</a></td>
                </tr>
                <tr>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>