<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table Applications Job</title>
    <link rel="stylesheet" href="../static/css/tables.css">
</head>
<body>
<div class="main-container">
    <div class="row">
        <div class="col-md-12">

            <table>

                <thead>
                <h4> Table INterviews </h4>
                <tr>
                    <th>Company Name</th>
                    <th>Date</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tr>
                    <td>Mercado Libre</td>
                    <td>26-04-22</td>
                    <td>Saber ingles</td>
                    <td><a href="#" class="btn btn-primary">View Interview</a></td>
                </tr>
                <tr>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>