<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table Companys </title>
    <link rel="stylesheet" href="../static/css/tables.css">
</head>
<body>
<div class="main-container">
    <div class="row">
        <div class="col-md-12">
            <table>

                <thead>
                <h4> Table Companys </h4>
                <tr>
                    <th>Name</th>
                    <th>Location</th>
                    <th>email</th>
                </tr>
                </thead>
                <tr>
                    <td>Jobs-SA</td>
                    <td>Lujan</td>
                    <td>jobs_sa@gmail.com</td>
                </tr>
                <tr>
                    <td>Soft-SA</td>
                    <td>San Rafael</td>
                    <td>soft_sa@gmail.com</td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>
