<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Table List Job</title>
	<link rel="stylesheet" href="../static/css/tables.css">
</head>
<body>
	<div class="main-container">

		<table>

      <thead>
          <h4> Table List Job </h4>
        <tr>
          <th>Company</th><th>Title</th><th>Salary</th><th>Type</th><th>Avaiable-Slots</th>
          </tr>
      </thead>
      <tr>
        <td>Jobs-SA</td><td>Tecnology</td><td>50K</td><td>Frontend-Junior</td><td>5</td>>
      </tr>
      <tr>
          <td>Soft-SA</td><td>Tecnology</td><td>95K</td><td>Backend-Junior</td><td>15</td>>
      </tr>
      </table>
	</div>
</body>
</html>
