<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table Applications Job</title>
    <link rel="stylesheet" href="../static/css/tables.css">
</head>
<body>
<div class="main-container">
    <div class="row">
        <div class="col-md-12">

            <table>

                <thead>
                <h4> Table Applications </h4>
                <tr>
                    <th>E-Mail</th>
                    <th>Full Name</th>
                    <th>Seniority</th>
                    <th>Years_XP</th>
                    <th>Speak_English</th>
                </tr>
                </thead>
                <tr>
                    <td>nacho@gmail.com</td>
                    <td>Ignacio Fernandez</td>
                    <td>30 years</td>
                    <td>10</td>
                    <td>YES</td>
                    <td><a href="#" class="btn btn-primary">View App</a></td>
                </tr>
                <tr>
                    <td>Gonzalito@gmail.com</td>
                    <td>Gonzalo Montiel</td>
                    <td>22 years</td>
                    <td>3</td>
                    <td>No</td>
                    <td><a href="#" class="btn btn-primary">View App</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>
