<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table Applications Job</title>
    <link rel="stylesheet" href="../static/css/tables.css">
</head>
<body>
<div class="main-container">
    <div class="row">
        <div class="col-md-12">
            <table>

                <thead>
                <h4> Table Users </h4>
                <tr>
                    <th>Birth</th>
                    <th>Adress</th>
                    <th>Phone Number</th>
                </tr>
                </thead>
                <tr>
                    <td>1970-02-31</td>
                    <td>Rivadavia 550</td>
                    <td>2942302564</td>
                </tr>
                <tr>
                    <td>1998-05-14</td>
                    <td>Roca 132</td>
                    <td>2604879</td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>